.orange-text{
    color:orange;
}
.navbar-brand img{
    width:100%;
}
.heading-img{
    width:400px;
}
.heading-img img{
    width:100%;
}
.btn-orange{
    background-color:orange;
}
.card-image{
    width:89%;
    
}
.border-none{
    border:none;
}
.card-footer-bg{
    background-color:white;
}
.card-border{
    border:none;
}
.overview img{

    width:100%;

}
.header-background{
    background-color:#fff9f4;
}